<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">IdeaBox 2.0</h1>
    </div>
  </div>
  <div class="row new-idea-row">
    <div class="col-sm-12">
      <%= text_field_tag :title, nil, placeholder: "Title" %><br>
      <%= text_area_tag :body, nil, placeholder: "Body" %><br>
      <button id="save-idea" class="btn btn-success save-btn">Save</button>
    </div>
  </div>
  <section class="ideas">
  </section>
</div>
