<div class="container">
  <div class="row title-row">
    <div class="col-sm-12">
      <h1 class="text-center">IdeaBox 2.0</h1>
    </div>
  </div>
  <div class="row new-idea-row">
    <div class="col-sm-12">
      <%= text_field_tag :title, nil, placeholder: "Title" %><br>
      <%= text_area_tag :body, nil, placeholder: "Body" %><br>
      <button id="save-idea" class="btn btn-success save-btn">Save</button>
    </div>
  </div>
  <div class="row search-row">
    <div class="col-sm-12 search-column">
      <label class="search-label">Search</label>
      <%= text_field_tag :search, nil, class: "search-box" %>
      <button id="clear-search" class="btn btn-info">Clear</button>
    </div>
  </div>
  <div class="row sort-row">
    <div class="col-sm-12 sort-column">
      <button id="sort" class="btn btn-info btn-sort">Sort by Quality</button>
    </div>
  </div>
  <section class="ideas">
  </section>
</div>
