// ----- FONTS -----
@import url(https://fonts.googleapis.com/css?family=PT+Serif);

// ----- MAIN STYLES -----
body {
  font-family: 'PT Serif', serif;
}

p {
  font-size: 16px;
}

.container {
  max-width: 700px;
}

.idea {
  border-bottom: 0.5px solid black;
  margin-top: 15px;
}

.inline {
  display: inline;
}

.right {
  float: right;
}

.idea-body {
  margin-top: 8px;
}

input,
textarea {
  width: 675px;
  margin-bottom: 5px;
}

.search-box {
  width: 300px;
  margin-left: 20px;
  margin-right: 10px;
}

.search-label {
  margin-left: 90px;
}

.hidden {
  display: none;
}

i {
  margin: 0 5px;
}

.quality {
  color: #01159f;
  margin-right: 10px;
}

.fa {
  cursor: pointer;
  cursor: hand;
}

.new-idea-row,
.search-row {
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

.search-column {
  margin-bottom: 10px;
}

.save-btn,
.edit-idea,
.delete-idea,
.update-idea {
  margin-bottom: 10px;
}

.delete-idea {
  margin-right: 15px;
}

.btn {
  font-size: 14px;
  height: 25px;
  letter-spacing: 0.1em;
  padding: 0;
  text-transform: lowercase;
  width: 115px;
}

.btn-sort {
  background: orange;
  border: none;
  margin-left: 260px;
  width: 140px;

  &:hover {
    background: darken(orange, 8%);
  }
}
