// ----- FONTS -----
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

// ----- MAIN STYLES -----
body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 700px;
}

.idea {
  border-bottom: 0.5px solid black;
  margin-top: 15px;
}

.inline {
  display: inline;
}

.right {
  float: right;
}

.idea-body {
  margin-top: 8px;
}

input,
textarea {
  width: 700px;
  margin-bottom: 5px;
}

i {
  margin: 0 5px;
}

.quality {
  margin-right: 10px;
}

.fa {
  cursor: pointer;
  cursor: hand;
}
